<h2>Random cards</h2>

<app-loading [loading]="isLoading"></app-loading>

<div class="form-group" [hidden]="!cards">
  <label for="rarityFilter">Filter by rarity:</label>
  <select #rarityFilter class="form-control" id="rarityFilter" (change)="onRarityChange(rarityFilter.value)">
    <option>All</option>
    <option *ngFor="let rarity of rarities" [value]="rarity">{{rarity}}</option>
  </select>
</div>

<div class="row">
  <div class="col-sm" *ngFor="let card of cards">
    <div class="card" style="width: 18rem;">
      <a [routerLink]="[card.multiverseid]">
        <img [src]="card.imageUrl" class="card-img-top" [alt]="card.multiverseid">
      </a>
      <div class="card-body">
        <h5 class="card-title">{{card.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{card.rarity}}</h6>
        <p class="card-text">{{card.text}}</p>
        <a [routerLink]="[card.multiverseid]" class="btn btn-primary">More details</a>
      </div>
    </div>
  </div>
</div>