<app-loading [loading]="isLoading"></app-loading>
<div *ngIf="card">
  <h2>{{card.name}}</h2>

  <div class="row">
    <div class="col-sm">
      <img [src]="card.imageUrl" alt="card.name">
    </div>
    <div class="col-sm">
      <p>Multiverse Id: {{card.multiverseid}}</p>
      <p>Type: {{card.type}}</p>
      <p>Rarity: {{card.rarity}}</p>
      <p>Mana cost: {{card.manaCost}}</p>
      <p>Number: {{card.number}}</p>
      <p>Text: {{card.text}}</p>
    </div>
  </div>
</div>
<div class="row">
  <button class="btn btn-primary" routerLink="/cards">Back</button>
</div>